/* frontend/src/styles/skillInput.css */
/* 스킬 입력 필드 컨테이너 */
.skill-entry {
    display: flex;
    width: 100%;  /* 부모 크기에 맞춤 */
    max-width: 500px;  /* character-register와 동일한 크기 */
    justify-content: space-between; /* 내부 요소 정렬 */
    box-sizing: border-box;
}

/* 입력 필드 크기 고정 */
.skill-entry input {
    flex: 1;
    max-width: 120px;
    min-width: 100px;
    padding: 5px;
    box-sizing: border-box;
}

.skill-entry button {
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.skill-entry button:hover {
    background-color: #fff;
    color: #000;
}